@model IEnumerable<GameStore.Models.Game>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Main - Game Store";
}
<h3>Games</h3>
<table class="table-condensed">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Platform</th>
        <th>Genre</th>
        <th>Developer</th>
        <th>Publisher</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (var game in Model)
        {
        <tr>
            <td>@game.Name</td>
            <td>@game.Year</td>
            <td>@game.Platform</td>
            <td>@game.Genre</td>
            <td>@game.Developer</td>
            <td>@game.Publisher</td>
            <td>@game.Price</td>
            <td><a href="~/Home/Buy/@game.Id">Buy</a></td>
        </tr>
    }
</table>